mixin ba-block( number, text )
   article.busareas__block
      .busareas__image
         div( class='busareas_image-#{number}' )
      .busareas__text
         span 0#{number}
         h4.text-18-title !{text}
