include ../../__section-caption
include __block
section.busareas__container
   .wrapper
      .section__caption
         +section-caption( 'Универсальные<br>поставки', 'Мы&nbsp;специализируе<br>мся на&nbsp;поставках для&nbsp;различных сфер бизнеса' )
   .wrapper
      .busareas__content
         +ba-block( '1', 'Торговые сети и&nbsp;магазины &laquo;У&nbsp;дома&raquo;')
         +ba-block( '2', 'Рестораны, кафе и&nbsp;столовые')
         +ba-block( '3', 'Оптовикам и&nbsp;прозводителям')
         +ba-block( '4', 'HoReCa')

