section.price__container
   .wrapper
      section.price_section__column
         .price_section__about
            .text-small.text-dark 01
            .price_section__title.text-blue Консервация
            .select-icon
            form.header__form.price__form.price_section_form
               select.select-price.select-price-section( type='search' placeholder='Поиск по разделу' )
                  option
                  option 1

         include ./__price
         +item( 'Печень трески 230 г ж/б 1/24 (ключ) КитБай', '73.45' )
         +item( 'Кукуруза сладкая ж/б 425 мл «Бояринъ» 1/12 Китай', '73.45' )
         +item( 'Фасоль белая натуриальная ж/б 425 мл Гуд Мил 1/12', '165.48' )
         +item( 'Печень трески 230 г ж/б 1/24 (ключ) КитБай', '73.45' )
         +item( 'Кукуруза сладкая ж/б 425 мл «Бояринъ» 1/12 Китай', '73.45' )
         +item( 'Фасоль белая натуриальная ж/б 425 мл Гуд Мил 1/12', '165.48' )
         +item( 'Печень трески 230 г ж/б 1/24 (ключ) КитБай', '73.45' )
         +item( 'Кукуруза сладкая ж/б 425 мл «Бояринъ» 1/12 Китай', '73.45' )
         +item( 'Фасоль белая натуриальная ж/б 425 мл Гуд Мил 1/12', '165.48' )
         +item( 'Печень трески 230 г ж/б 1/24 (ключ) КитБай', '73.45' )
         +item( 'Кукуруза сладкая ж/б 425 мл «Бояринъ» 1/12 Китай', '73.45' )
         +item( 'Фасоль белая натуриальная ж/б 425 мл Гуд Мил 1/12', '165.48' )
      button.button-orders-more.mt10.mb
         span Показать еще

section.price__container
   .wrapper
      section.price_section__column
         .price_section__about
            .text-small.text-dark 02
            .price_section__title.text-blue Охлажденная рыба
            .select-icon
            form.header__form.price__form.price_section_form
               select.select-price.select-price-section( type='search' placeholder='Поиск по разделу' )
                  option
         include ./__price
         +item( 'Печень трески 230 г ж/б 1/24 (ключ) КитБай', '73.45' )
         +item( 'Кукуруза сладкая ж/б 425 мл «Бояринъ» 1/12 Китай', '73.45' )
         +item( 'Фасоль белая натуриальная ж/б 425 мл Гуд Мил 1/12', '165.48' )
         +item( 'Печень трески 230 г ж/б 1/24 (ключ) КитБай', '73.45' )
         +item( 'Кукуруза сладкая ж/б 425 мл «Бояринъ» 1/12 Китай', '73.45' )
         +item( 'Фасоль белая натуриальная ж/б 425 мл Гуд Мил 1/12', '165.48' )
         +item( 'Печень трески 230 г ж/б 1/24 (ключ) КитБай', '73.45' )
         +item( 'Кукуруза сладкая ж/б 425 мл «Бояринъ» 1/12 Китай', '73.45' )
         +item( 'Фасоль белая натуриальная ж/б 425 мл Гуд Мил 1/12', '165.48' )
         +item( 'Печень трески 230 г ж/б 1/24 (ключ) КитБай', '73.45' )
         +item( 'Кукуруза сладкая ж/б 425 мл «Бояринъ» 1/12 Китай', '73.45' )
         +item( 'Фасоль белая натуриальная ж/б 425 мл Гуд Мил 1/12', '165.48' )
      button.button-orders-more.mt10.mb
         span Показать еще

section.price__container
   .wrapper
      section.price_section__column
         .price_section__about
            .text-small.text-dark 02
            .price_section__title.text-blue Охлажденная рыба
            .select-icon
            form.header__form.price__form.price_section_form
               select.select-price.select-price-section( type='search' placeholder='Поиск по разделу' )
                  option
         include ./__price
         +item( 'Печень трески 230 г ж/б 1/24 (ключ) КитБай', '73.45' )
         +item( 'Кукуруза сладкая ж/б 425 мл «Бояринъ» 1/12 Китай', '73.45' )
         +item( 'Фасоль белая натуриальная ж/б 425 мл Гуд Мил 1/12', '165.48' )
         +item( 'Печень трески 230 г ж/б 1/24 (ключ) КитБай', '73.45' )
         +item( 'Кукуруза сладкая ж/б 425 мл «Бояринъ» 1/12 Китай', '73.45' )
         +item( 'Фасоль белая натуриальная ж/б 425 мл Гуд Мил 1/12', '165.48' )
         +item( 'Печень трески 230 г ж/б 1/24 (ключ) КитБай', '73.45' )
         +item( 'Кукуруза сладкая ж/б 425 мл «Бояринъ» 1/12 Китай', '73.45' )
         +item( 'Фасоль белая натуриальная ж/б 425 мл Гуд Мил 1/12', '165.48' )
         +item( 'Печень трески 230 г ж/б 1/24 (ключ) КитБай', '73.45' )
         +item( 'Кукуруза сладкая ж/б 425 мл «Бояринъ» 1/12 Китай', '73.45' )
         +item( 'Фасоль белая натуриальная ж/б 425 мл Гуд Мил 1/12', '165.48' )
      button.button-orders-more.mt10.mb
         span Показать еще
