include ../catalog/filters/__catalog-article
include ../catalog/filters/__catalog_section-food
include ../catalog/filters/__catalog_section-fish

.catalog__block.catalog__block-aside
   section( aria-label='Свежемороженая рыба' ).catalog__section
      .catalog__section_caption( data-article='sveshemor' )
         div( class='icofish__sveshemor')
         h2.catalog__section-name Свежемороженая рыба
         .icon__angle
      article.catalog__articles( id='sveshemor' )
         +catalog-article( 'Голец' )
         +catalog-article( 'Голец' )
         +catalog-article( 'Голец' )
         +catalog-article( 'Голец' )
         +catalog-article( 'Голец' )
         +catalog-article( 'Горбуша' )
         +catalog-article( 'Горбуша' )
         +catalog-article( 'Горбуша' )
         +catalog-article( 'Горбуша' )
         +catalog-article( 'Горбуша' )
   +catalog-fish( 'fileryby', 'Филе рыбы, стейки, фарш', '-' )
   +catalog-fish( 'moreprodukty', 'Креветки / Морепродукты', '-' )
   +catalog-fish( 'morejap', 'Морепродукты для&nbsp;японской кухни', 'Морепродукты для японской кухни' )
   +catalog-food( 'packaging', 'Фасованная рыба &laquo;Экор&raquo;', 'Фасованная рыба Экор' )
   +catalog-food( 'polufabrikaty', 'Полуфабрикаты', '-')
   +catalog-food( 'gotovaya', 'Готовая продукция &laquo;Экор&raquo;', 'Готовая продукция Экор')
   +catalog-food( 'myaso_i_ptitsa', 'Мясо, птица', '-')
   +catalog-food( 'zamorozhennyye_ovoshchi_yagody', 'Замороженные <br>овощи', '-')
   +catalog-food( 'konservy', 'Консервация', '-')
   +catalog-food( 'izdelie_iz_testa', 'Изделия из&nbsp;теста', 'Изделия из теста')
   +catalog-food( 'okhlazhdennaya_ryba', 'Охлаждённая рыба', '-')
   +catalog-food( 'krasnaya_ikra', 'Икра красная', '-')
   +catalog-food( 'molochnaya_produktsiya', 'Масло и&nbsp;молочная продукция', 'Масло и молочная продукция')
   +catalog-food( 'bakaleya', 'Бакалея и&nbsp;специи', 'Бакалея и специи')
   +catalog-food( 'maslo_rastitelnyoe', 'Масло растительное', '-')
   +catalog-food( 'sousy', 'Майонезы, соусы', '-')

