include ../../catalog/__catalog-article
include ../../catalog/__catalog_section-fish
include ../../catalog/__catalog_section-food
include ../../content/index/subscribe/__subscribe_social.jade


section.catalog_main__container.one_item
   .wrapper-big
      .one_item__wrapper
         .one_item__content
            section.one_image__holder
               include img/image
            section.one_data__holder
               include data/data
            section.one_purchase__holder
               .one_purchase__title.text-18-title.text-blue.mb10 Стоимость
               include purchase/purchase
            section.one_about__holder
               include about/about


            include subscribe


         .catalog_main__filter.one_item__filter
            include ../catalog/filters/sections_block
