.one_item__purchase_holder
   .one_item__buy
      h2.one_item__total.text-blue
         .mr
         span &#8381;
      h3.one_item__price
         .text-dark.flex
            span Цена,
            .elem &nbsp;&#8381; / кг
         .text-blue
      button.button-yellow.button-long
         .text-14-big.text-blue В корзину
   .one_item__delivery
      .one_item__schedule
         h4.mb10.text-blue.text-16-big Доставка
         .one_item__schedule_day
            .text-14.text-blue Сегодня
            .text-small.text-dark 15.00 &ndash; 23.00
         .one_item__schedule_day
            .text-14.text-blue Завтра
            .text-small.text-dark 15.00 &ndash; 23.00
      .one_item__availability
         h5.mb10.text-blue.text-16-big Наличие
         .one_item__availability_warehouse
            .icon__yes
            .one_item__warehouse
               .text-14.text-blue На складах в Москве
               .text-small.text-dark Много
         .one_item__availability_warehouse.mb10
            .icon__no
            .one_item__warehouse
               .text-14.text-blue На складе в Санкт-Петербурге
               .text-small.text-dark Нет
#characteristic_lg
