include ../../catalog/__catalog-article
include ../../catalog/__catalog_section-fish
include ../../catalog/__catalog_section-food
include ../../content/index/subscribe/__subscribe_social.jade

section.catalog_main__container
   .wrapper-big
      .catalog_main__wrapper
         .catalog_main__content
            h2.caption.text-blue.catalog_main__caption Свежемороженая рыба
            .catalog_main__about.text-blue На сайте компании Экор можно купить свежемороженую рыбу оптом, морепродукты, рыбное филе от производителя. Осуществляем доставку в рестораны, магазины, оптовикам, в HoReCa по Москве и области на следующий день после заказа от 10 000 ₽. Все товары в каталоге есть в наличии, цены и фото реальные. Также в нашем ассортименте — замороженное мясо, овощи, ягоды, бакалея, масла, крупы, молочная продукция, консервация.
            .catalog_main__show
               .catalog__select_holder-1
                  select.select2.catalog__select#catalog_order
                     option( selected='true') Популярные
                     option Высокая цена
                     option Низкая цена
               .catalog__select_holder-2
                  select.select2.catalog__select#catalog_amount
                     option( selected='true') Показывать по 30
                     option Показывать по 60
                     option Показывать по 100
               button.button.catalog__fbutton.text-blue#show_filters
                  .icon__filter
                  span Фильтры
            .catalog_main__section
               include product/product
               include product/product
               include product/product
               include product/product
               include product/product
               include product/product
               include product/product
               include product/product
               include product/product
               include product/product
               .subscribe__wrapper.subscribe__wrapper_catalog
                  h2.subscribe__caption Подписывайтесь на&nbsp;чат-бот оптовых цен
                  h3.subscribe__title Узнайте наши цены за&nbsp;пару секунд через наш чат-бот без писем и&nbsp;звонков менеджеру
                  .subscribe__holder
                     .subscribe__socials
                        label( for='number_whatsapp').subscribe__social_holder.subscribe__social-whatsapp
                           a( href='' title='Перейти в whatsapp компании' aria-label='Ссылка на вотсап компании' ).icon__whatsapp
                           input( type='tel' id='number_whatsapp' placeholder='+7(_ _ _) _ _-_ _-_ _').subscribe__social_input.input-thin.input-big
                           span.text-white WhatsApp
                        +sub( 'telegram', 'Telegram' )
                        +sub( 'vkontakte', 'ВКонтакте' )

                     .subscribe__check
                        .ico__checkbox.mr10
                        span.text-small.text-gray Нажимая на&nbsp;кнопку, вы соглашаетесь с&nbsp;политикой конфиденциальности ресурса



               include product/product
               include product/product
               include product/product
               include product/product
               include product/product
               include product/product
               include product/product
               include product/product
               include product/product

            include pagination/pagination
         .catalog_main__filter
            include filters/sections_block
            include filters/filters_block
