.wrapper-big
   section.breadcrumbs__container
      a( href='./' ).breadcrumbs__link.pointer Главная
      .breadcrumbs__link.default Каталог
      a( href='./' ).breadcrumbs__active Свежемороженая рыба
