mixin aside( path )
   aside.header__aside
      .wrapper.flex
         #catalog_trigger.header__to-catalog.row_flex-10
            .dots__holder
               .dots
                  .d
               .dots
                  .d
               .dots
                  .d
               .icon__dots
            span Каталог товаров
         .header__search
            form.header__form
               button( type='button').icon__search
               input.search( type='search' placeholder='Поиск' )
         .header__aside_icons
            .header__section.row_flex-10
               .icon__favorites
                  #amount_favorites.amount 5
               span Избранное
            a( href='#{path}/order.html' aria-label='Ссылка на корзину товаров' ).header__section.row_flex-10
               .icon__basket
                  #amount_basket.amount 1
               span 10 000,00
               .element &#8381;
            .header__section.row_flex-10#open_login
               .icon__user
               .login Вход
