aside.header__aside
   .wrapper.flex
      a( href='/catalog.html' aria-label='Ссылка на страницу каталога всех товаров'  ).header__to-catalog.row_flex-10
         .icon__dots
         .icon__close.hide
         span Каталог товаров
      .header__search
         form.header__form
            button( type='button').icon__search
            input.search( type='search' placeholder='Поиск' )
      .header__aside-icons
         .header__section.row_flex-10
            .icon__favorites
               #amount_favorites.amount 5
            span Избранное
         .header__section.row_flex-10
            .icon__basket
               #amount_basket.amount 1
            span 3 000,0
            .element &#8381;
         .header__section.row_flex-10
            .icon__user
            .login Вход
