/node_modules/
/.idea
package-lock.json
/OwlCarousel2-2.3.4/
/Каталог.jpg
/main_768.jpg
/Ekor.zip
/package-lock.json
/main_320.jpg
/Каталог_768.jpg
/main.jpg
/Каталог_320.jpg
/Каталог - desktop_1920.jpg
