mixin fact(number, title, text)
   article.about_index__block(class='about-index__block-#{number}')
      h3.caption.text-blue.about_index__title !{title}
      span.about_index__span.text-dark.text-14 !{text}
