include ../../__section-caption
include __about-fact
section.about_index__container
   .wrapper
      .section__caption
         +section-caption( 'О&nbsp;компании', 'Экор&nbsp;&mdash; крупная производственно&ndash;торговая компания, занимающаяся производством и&nbsp;реализацией рыбы и&nbsp;морепродуктов')
      .about_index__content
         p.section_part_text.text-14.text-blue С&nbsp;1998 года компания &laquo;Экор&raquo; предоставляет широкий ассортимент замороженной рыбы, готовых продуктов и&nbsp;других продуктов питания. Компания имеет в&nbsp;своём составе более 40 автомобилей рефрижераторов, которые позволяют быстро доставить охлаждённую и&nbsp;замороженную рыбу по&nbsp;Москве и&nbsp;МО. Общий оборот компаний составляет более 2,5 миллиардов&nbsp;руб в&nbsp;год. Численность сотрудников более 100 человек и&nbsp;более 3000 постоянных клиентов.
         p.section_part_text.text-14.text-blue Компания &laquo;Экор&raquo; предлагает разнообразный выбор рыбы и&nbsp;морепродуктов оптом с&nbsp;доставкой при&nbsp;заказе от&nbsp;15000 рублей. Она осуществляет прямые поставки из&nbsp;различных регионов и&nbsp;стран, предоставляет отсрочку платежа, а&nbsp;также обеспечивает конкурентоспособные цены и&nbsp;имеет открытую бухгалтерскую отчётность. Разработанный компанией чат-бот оптовых цен, даёт возможность оперативно запросить и&nbsp;сравнить цены.
         .about_index__facts
            +fact( '1', '25 лет', 'опыта работы')
            +fact( '2', '>&nbsp;40 ', 'автомобилей для&nbsp;доставки')
            +fact( '3', '>&nbsp;100', 'сотрудников')
            +fact( '4', '>&nbsp;3000', 'постоянных клиентов')
