mixin requisites( num, big, text)
   article.cooperation__step(class='cooperation_step-#{num}')
      .advantages__number.text-small.text-dark 0#{num}
      .advantages__title.text-18-title !{big}
      .cooperation__text.text-14.text-dark !{text}
