include ../__section-caption
include __steps
section.suppliers_steps__container
   .wrapper
      .section__caption
         +section-caption( 'Сотрудничество', 'Ваши шаги для&nbsp;совместного сотрудничества')
      .suppliers_steps__list
         +requisites( '1', 'Отправьте предложение через форму', 'Для предложений о&nbsp;поставке продукции заполните форму ниже, прикрепите прайс-лист в&nbsp;формате Excel. Ваши данные попадут в&nbsp;базу наших поставщиков.' )
         +requisites( '2', 'Получите рассылку продукции и&nbsp;предложений', 'После регистрации в&nbsp;базе, вы будете получать на&nbsp;почту рассылку с&nbsp;продукцией, которую мы собираемся закупать в&nbsp;ближайшие 2&nbsp;недели.' )
         +requisites( '3', 'Ответ на&nbsp;рассылку', 'Ответом на рассылку отправьте конкретное предложение с&nbsp;указанием всей запрашиваемой информацией.' )
         +requisites( '4', 'Предложение услуг', 'Если вы предлагаете услуги, опишите суть предложения в&nbsp;комментариях, не&nbsp;прикрепляя прайс-лист, если это не&nbsp;требуется в&nbsp;вашем случае.' )


