section.wrapper
   .suppliers_main__content
      .section-title-text-14.text-blue.mb20 Приглашаем к&nbsp;сотрудничеству
      h1.caption.text-dark Наша компания закупает весь ассортимент продукции представленной на&nbsp;сайте в&nbsp;объемах от&nbsp;500&nbsp;кг до&nbsp;25&nbsp;т каждой позиции. Также мы постоянно стремимся расширить ассортимент и&nbsp;готовы пробовать новое.

