include ../../__section-caption
section.programs__container
   .wrapper
      .section__caption
         +section-caption( 'Немного о&nbsp;нас', 'Наше участие в&nbsp;программах &laquo;Естественный отбор&raquo; и&nbsp;&laquo;Кухня&raquo;')
      .programs__carousel
         .programs__holder
            .relative
               .relation
               .relation_content
                  .programs__video.programs_video-1( data-video='ТУТ ВИДЕО')
            .programs__name.text-18-title.mt10 Наше участие в&nbsp;программе &laquo;Естественный отбор&raquo; на&nbsp;канале &laquo;ТВЦ&raquo;
         .programs__holder
            .relative
               .relation
               .relation_content
                  .programs__video.programs_video-2( data-video='ТУТ ВИДЕО')
            .programs__name.text-18-title.mt10 Наша продукция на&nbsp;программе &laquo;Кухня&raquo;
