.basket_address__holder.section_holder( data-section='2' )
   .basket_order__main.section_main
      span Адрес
   .basket_order__second.section_second
      span Адрес
      button.button-yellow( data-next='3' ) Кнопка, типа всё ок
