.text-16-big.text-blue.mb16 Адрес доставки
.address_obtaining__items
   .address_obtaining__address( data-obtaining-address='1' ).mt16
      .ico__del
      .obtaining_address__text
         .text-14.text-blue Московкая область, Реутов, Юбилейный проспект, 72, кв. 328, этаж 22, подъезд 3, код домофона 328
      .ico__edit


#obtaining_add_address.address_obtaining__add.mt16
   .icon__address_add.mr10
   .text-14.text-blue Новый адрес
