form#basket_order_form.basket_address__contact
   label( for='order_name' ).label-input.mb10
      input#order_name( type='text' ).input.input-big
      span.sup Имя и Фамилия
   label( for='order_tel' ).label-input.label-tel.mb20
      input#order_tel( type='tel' placeholder='+7(_ _ _) _ _-_ _-_ _' ).input.input-big
      span.sup Номер телефона
   button#basket_order_button.button-yellow( type='submit' disabled='true') Отправить код
