.watch_place__dostavka.obtaining__dostavka
   .items-center.dostavka_info
      .ico__point.mr16
      .add_place__block
         #watch_place__data.text-14.text-blue г. Москва, ул. Тверская, д. 1, стр. 1


   button#watch_btn.button-yellow.button-long.text-blue.mtauto( type='button' ).dostavka_btn
      span Заберу отсюда
