include ../menu/desktop/__item
#black_back
header
   .wrapper.flex.center.header__main
      a( href='/' aria-label='Ссылка для возврата на главную страницу сайта' title='На главную страницу').header__logo.logo__holder.row_flex-10
         .logo__image
         .logo__text
      .header__menu
         ul.menu__holder.row_flex-16
            +menu-item( 'Доставка', 'delivery' )
            +menu-item( 'Прайс', 'price' )
            +menu-item( 'Производство', 'production' )
            +menu-item( 'Оплата', 'payment' )
            +menu-item( 'Контакты', 'contacts' )
            +menu-item( 'О&nbsp;компании', 'about', 'О' )
      .header__social
         .social__holder.row_flex-10
            .social__icon
               a.icon__telegram( href='' target='_blank' aria-label='Ссылка на телеграм компании')
            .social__icon
               a.icon__whatsapp( href='' target='_blank' aria-label='Ссылка на вотапп компании')
      .header__contact
         .contact__number 8&nbsp;(495)&nbsp;637-82-28
         .contact__text Заказать звонок
      .burger__holder
         .burger__line
   include ../menu/desktop/aside
   .header__menu_mobile
      .wrapper
         .column.start
