include ../../__section-caption
section.delivery_index__container
   .wrapper
      .section__caption
         +section-caption( 'Доставка', 'Эффективная доставка')
      .delivery_index__wrapper
         .delivery_index__text
            p.text-14.text-blue Наша служба доставки предлагает гибкие условия. Мы гарантируем быструю доставку в&nbsp;Москве и&nbsp;области на&nbsp;следующий день после оформления заказа.
            p.text-14.text-blue Технология GPS обеспечивает точный мониторинг вашего заказа, позволяя вам всегда быть в&nbsp;курсе его местоположения на&nbsp;карте.
         .delivery_index__facts
            p.text-18-title.text-blue
               span Доставка от&nbsp;50&nbsp;кг по&nbsp;Мосвке и&nbsp;области
            p.text-18-title.text-blue
               span Доставляем на&nbsp;следующий день после заказа
            p.text-18-title.text-blue
               span GPS мониторинг ваших заказов
         .delivery_index__image.relative
            .relation
            .relation_content
               .delivery_index__img

