include __catalog-article
include __catalog_section-food
include __catalog_section-fish
section#catalog( aria-label='Каталог со всеми товарами' ).catalog__container
   .wrapper
      .catalog__holder
         .catalog__top
            .icon__angle.spec.dis
            .catalog__caption Каталог товаров
            .icon__close

         .scrollbar-inner
            .catalog__scroll-main
               .catalog__block.catalog__block-aside
                  +catalog-fish( 'sveshemor', 'Свежемороженая рыба', '' )
                  +catalog-fish( 'fileryby', 'Филе рыбы, стейки, фарш', '' )
                  +catalog-fish( 'moreprodukty', 'Креветки / Морепродукты', '' )
                  +catalog-fish( 'morejap', 'Морепродукты для&nbsp;японской кухни', 'Морепродукты для японской кухни' )
                  +catalog-fish( 'fileryby', 'Фасованная рыба &laquo;Экор&raquo;', 'Фасованная рыба "Экор"' )
               .catalog__block.row
                  +catalog-food( 'polufabrikaty', 'Полуфабрикаты', '')
                  +catalog-food( 'konservy', 'Консервация', '')
                  +catalog-food( 'molochnaya_produktsiya', 'Масло и&nbsp;молочная продукция', 'Масло и молочная продукция')
                  +catalog-food( 'gotovaya', 'Готовая продукция &laquo;Экор&raquo;', 'Готовая продукция "Экор"')
                  +catalog-food( 'izdelie_iz_testa', 'Изделия из&nbsp;теста', 'Изделия из теста')
                  +catalog-food( 'bakaleya', 'Бакалея и&nbsp;специи', 'Бакалея и специи')
                  +catalog-food( 'myaso_i_ptitsa', 'Мясо, птица', '')
                  +catalog-food( 'okhlazhdennaya_ryba', 'Охлаждённая рыба', '')
                  +catalog-food( 'maslo_rastitelnyoe', 'Масло растительное', '')
                  +catalog-food( 'zamorozhennyye_ovoshchi_yagody', 'Замороженные овощи', '')
                  +catalog-food( 'krasnaya_ikra', 'Икра красная', '')
                  +catalog-food( 'sousy', 'Майонезы, соусы', '')

