.icon(@folder, @name) {
   background-image: url("../images/svg/@{folder}/@{name}.svg");
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center;
   flex-shrink: 0;
}
.icon-i-i(@folder, @name) {
   background-image: url("../images/svg/icons/@{folder}/@{name}.svg");
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center;
   flex-shrink: 0;
}
.icon-i(@name) {
   background-image: url("../images/svg/icons/@{name}.svg");
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center;
   flex-shrink: 0;
}
.icon-size() {
   width: 24px;
   height: 24px;
   cursor: pointer;
}

*[class^='icon__'] {
   .icon-size();
   .tr();
}

/*   Social   */
header {
   .icon__telegram {
      .icon('social', 'b-t');
   }
   .icon__whatsapp {
      .icon('social', 'b-w');
   }
}
footer {
   .icon__telegram {
      .icon('social', 't');
   }
   .icon__whatsapp {
      .icon('social', 'w');
   }
}

/*   Header   */
header {
   .icon__basket {
      .icon-i-i('menu', 'basket');
   }
   .icon__favorites {
      .icon-i-i('menu', 'favorites');
   }
    .icon__user {
       .icon-i-i('menu', 'b-user');
    }
   .icon__search {
      .icon-i-i('menu', 'search');
   }
   .icon__dots {
      .icon-i-i('menu', 'dots');
   }
   .icon__burger {
      .icon-i-i('menu', 'burger'); // del
      width: 20px;
      height: 20px;
   }
   .icon__close-b {
      .icon-i-i('menu', 'b-close'); // del
   }
}
.line() {
   .icon-i-i('menu', 'line');
   background-size: contain;
   background-position: center;
}
@media screen and (max-width: @break_lg) {
   .icon-size() {
      width: 20px;
      height: 20px;
   }
   
   *[class^='icon__'] {
      .icon-size();
   }
    header {
   .icon__basket {
      .icon-i-i('menu', 'b-basket');
   }
   .icon__favorites {
      .icon-i-i('menu', 'b-favorites');
   }
   .icon__dots {
      .icon-i-i('menu', 'b-dots');
   }
   .icon__close-b {
      .icon-i-i('menu', 'b-close'); // del
   }
    footer *[class^='icon__'] {
      width: 24px;
       height: 24px;
   }
}
}
.icon__close {
   .icon-i-i('menu', 'b-close');
}

/*   checkbox   */
.checkbox {
   .icon-i-i('control', 'no-checkbox');
   width: 20px;
   height: 20px;
}
.checkbox-hidden:checked +.checkbox {
    .icon-i-i('control', 'yes-checkbox')
}
.icon__angle {
   .icon-i( 'up' );
}
/*   catalog food   */
*[class^='icofish__'] {
   width: 26px;
   height: 26px;
   .tr();
}
*[class^='icofood__'] {
   width: 26px;
   height: 26px;
   .tr();
}
.icofish( @name ) {
   background-image: url("../images/svg/food/fish/@{name}.svg");
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center;
   flex-shrink: 0;
}
.icofood( @name ) {
   background-image: url("../images/svg/food/@{name}.svg");
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center;
   flex-shrink: 0;
}
.icofish__sveshemor {
   .icofish( 'svezhemorozhennaya_ryba');
}
.icofish__morejap {
   .icofish( 'moreprodukty_Japan');
}
.icofish__moreprodukty {
   .icofish( 'moreprodukty');
}
.icofish__fileryby {
   .icofish( 'file_i_steyki_ryby');
}
.icofish__fileryby2 {
   .icofish( 'file_i_steyki_ryby');
}

.icofood__polufabrikaty {
   .icofood( '1-polufabrikaty')
}
.icofood__konservy {
   .icofood( '2-konservy')
}
.icofood__molochnaya_produktsiya {
   .icofood( '3-molochnaya_produktsiya')
}
.icofood__gotovaya {
   .icofood( '4-gotovaya')
}
.icofood__izdelie_iz_testa {
   .icofood( '5-izdelie_iz_testa')
}
.icofood__bakaleya {
   .icofood( '6-bakaleya')
}
.icofood__myaso_i_ptitsa {
   .icofood( '7-myaso_i_ptitsa')
}
.icofood__okhlazhdennaya_ryba {
   .icofood( '8-okhlazhdennaya_ryba')
}
.icofood__maslo_rastitelnyoe {
   .icofood( '9-maslo_rastitelnyoe')
}
.icofood__zamorozhennyye_ovoshchi_yagody {
   .icofood( '10-zamorozhennyye_ovoshchi_yagody')
}
.icofood__krasnaya_ikra {
   .icofood( '11-krasnaya_ikra')
}
.icofood__sousy {
   .icofood( '12-sousy')
}



/*   Social   */
/*   Social   */
/*   Social   */
