.icon(@folder, @name) {
   background-image: url("../images/svg/@{folder}/@{name}.svg");
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center;
   flex-shrink: 0;
}
.icon-i-i(@folder, @name) {
   background-image: url("../images/svg/icons/@{folder}/@{name}.svg");
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center;
   flex-shrink: 0;
}
.icon-i(@name) {
   background-image: url("../images/svg/icons/@{name}.svg");
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center;
   flex-shrink: 0;
}
.icon-size() {
   width: 24px;
   height: 24px;
   cursor: pointer;
}

*[class^='icon__'] {
   .icon-size();
   .tr();
}

/*   Social   */
header {
   .icon__telegram {
      .icon('social', 'b-t');
   }
   .icon__whatsapp {
      .icon('social', 'b-w');
   }
}
footer {
   .icon__telegram {
      .icon('social', 't');
   }
   .icon__whatsapp {
      .icon('social', 'w');
   }
}

/*   Header   */
header {
   .icon__basket {
      .icon-i-i('menu', 'basket');
   }
   .icon__favorites {
      .icon-i-i('menu', 'favorites');
   }
    .icon__user {
       .icon-i-i('menu', 'b-user');
    }
   .icon__search {
      .icon-i-i('menu', 'search');
   }
   .icon__dots {
      .icon-i-i('menu', 'dots');
   }
   .icon__burger {
      .icon-i-i('menu', 'burger'); // del
      width: 20px;
      height: 20px;
   }
   .icon__close-b {
      .icon-i-i('menu', 'b-close'); // del
   }
}

@media screen and (max-width: @break_lg) {
   .icon-size() {
      width: 20px;
      height: 20px;
   }
   
   *[class^='icon__'] {
      .icon-size();
   }
    header {
   .icon__basket {
      .icon-i-i('menu', 'b-basket');
   }
   .icon__favorites {
      .icon-i-i('menu', 'b-favorites');
   }
   .icon__dots {
      .icon-i-i('menu', 'b-dots');
   }
   .icon__close-b {
      .icon-i-i('menu', 'b-close'); // del
   }
    footer *[class^='icon__'] {
      width: 24px;
       height: 24px;
   }
}
}
.icon__close {
   .icon-i-i('menu', 'close');
}

/*   checkbox   */
.checkbox {
   .icon-i-i('control', 'no-checkbox');
   width: 20px;
   height: 20px;
}
.checkbox-hidden:checked +.checkbox {
    .icon-i-i('control', 'yes-checkbox')
}
/*   Social   */
/*   Social   */
/*   Social   */
/*   Social   */
