.svg-b(@folder1, @folder2, @name) {
   background-image: url("../data/@{folder1}/@{folder2}/@{name}.svg");
   background-repeat: no-repeat;
}
.svg(@folder, @name) {
   background-image: url("../data/@{folder}/@{name}.svg");
   background-repeat: no-repeat;
}
.size-contain(@size, @name) {
    background-image: url("../images/@{size}/@{name}");
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center;
}
.size-cover(@size, @name) {
    background-image: url("../images/@{size}/@{name}");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}


.logo( @name) {
   background-image: url("../images/svg/logo/@{name}.svg");
   background-repeat: no-repeat;
   background-size: contain;
   background-position: left;
   flex-shrink: 0;
}
.header__logo {
   .logo__image {
      .logo('b-logo')
   }
   .logo__text {
      .logo('b-words')
   }
}
.footer__logo {
   .logo__image {
      .logo('logo')
   }
   .logo__text {
      .logo('words');
      .xs-block({
         .logo('xs-words');
      })
   }
}

/* line */
.lines() {
    background-image: url("../images/svg/bg/lines.png");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}
.lines-request() {
    background-image: url("../images/svg/bg/request.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}

/* main карусель на главной */
.carousel-little-img( @numb, @size ) {
    background-image: url("../images/@{size}/carousel/index-@{numb}.webp");
   background-repeat: no-repeat;
   background-size: contain;
   background-position: bottom right;
}
.carousel__item-1-img() {
   .carousel-little-img( 1, 'large' );
   .lg-block({
      .carousel-little-img( 1, 'middle' );
   });
   .sm-block({
      .carousel-little-img( 1, 'small' );
   });
}
.carousel__item-2-img() {
   .carousel-little-img( 2, 'large' );
   .lg-block({
      .carousel-little-img( 2, 'middle' );
   });
   .sm-block({
      .carousel-little-img( 2, 'small' );
   });
}
.carousel__item-3-img() {
   .carousel-little-img( 3, 'large' );
   .lg-block({
      .carousel-little-img( 3, 'middle' );
      background-position: top right;
   });
   .middle-block({
      background-position: bottom right;
   });
   .sm-block({
      .carousel-little-img( 3, 'small' );
   });
}
.request() {
   .size-cover( 'large', 'request.webp' );
   .lg-block({
      .size-cover( 'middle', 'request.jpg' );
   });
   .sm-block({
      .size-cover( 'small', 'request.jpg' );
   })
}


/* главная - cover, белые прямоугольники  */
.cover-img( @numb, @size ) {
    background-image: url("../images/@{size}/cover/cover-@{numb}.svg");
   background-repeat: no-repeat;
   //background-size: contain;
   background-position: bottom right;
}
.cover-block-1() {
   .cover-img( '1', 'large');
   .xl-block({
      .cover-img( '1', 'middle');
   });
   .md-block({
      .cover-img( '1', 'large');
   })
}
.cover-block-2() {
   .cover-img( '2', 'large');
}
.cover-block-3() {
   .cover-img( '3', 'large');
}
/* ГЛАВНАЯ разная продукция */
.variety_products( @size, @name ) {
    background-image: url("../images/@{size}/product/@{name}.webp");
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center;
   width: 100%;
   height: 100%;
}
.image__sveshemor {
   .variety_products( 'large', 'sveshemor' )
}
.image__okhlazhdennaya_ryba {
   .variety_products( 'large', 'okhlazhdennaya_ryba' )
}
.image__myaso_i_ptitsa {
   .variety_products( 'large', 'myaso_i_ptitsa' )
}
.image__gotovaya {
   .variety_products( 'large', 'gotovaya' )
}
.image__moreprodukty {
   .variety_products( 'large', 'moreprodukty' )
}
.image__fileryby {
   .variety_products( 'large', 'fileryby' )
}
.image__fish_in_packaging {
   .variety_products( 'large', 'fish_in_packaging' )
}
.image__zamorozhennyye-ovoshchi-yagody {
   .variety_products( 'large', 'zamorozhennyye-ovoshchi-yagody' )
}
.image__zamorozhennyye_ovoshchi_yagody {
   .variety_products( 'large', 'zamorozhennyye_ovoshchi_yagody' )
}
.image__molochnaya-produktsiya {
   .variety_products( 'large', 'molochnaya-produktsiya' )
}
.image__bakaleya {
   .variety_products( 'large', 'bakaleya' )
}
.image__maslo-rastitelnyoe {
   .variety_products( 'large', 'maslo-rastitelnyoe' )
}
.image__sousy {
   .variety_products( 'large', 'sousy' )
}
