mixin block-square( numb, image, title, text )
   .variety_products__block-square( class='variety_product-#{numb}')
      .relative
         .relation-square
         .relation_content
            div( class='image__#{image}' )
      h2.text-18-title !{title}
      span.text-14.text-blue !{text}

