mixin block-rectangle( numb, image, title, text )
   .variety_products__block-rectangle( class='variety_products__bock-#{numb}')
      .relative
         .relation-rectangle
         .relation_content
            div( class='image__#{image}' )
      h2.text-18-title !{title}
      span.text-14.text-blue !{text}

