include __block-square
include __block-rectangle
section.variety_products
   .wrapper
      .variety_products__caption.section__caption
         h2.section-title-text-14 Наш ассортимент
         h3.caption.text-blue Компания предлагает более 500 наименований рыбной продукции и разнообразных товаров питания
         h3.caption.text-blue.second Полный ассортимент продуктов для общепита
      .variety_products__list
         +block-square( '1', 'sveshemor', 'Свежемороженая рыба', 'Собственного производства и&nbsp;со&nbsp;всего мира')
         +block-square( '2', 'okhlazhdennaya_ryba', 'Охлажденная рыба', 'Со&nbsp;всего мира')
         +block-square( '3', 'myaso_i_ptitsa', 'Замороженное мясо, птица', 'Со&nbsp;всего мира')
         +block-square( '4', 'gotovaya', 'Замороженное мясо, птица', 'Со&nbsp;всего мира')
         +block-rectangle( '5', 'moreprodukty', 'Креветки и&nbsp;морепродукты', 'Со&nbsp;всего мира')
         +block-rectangle( '6', 'fileryby', 'Рыбное филе', 'Собственного производства и&nbsp;со&nbsp;всего мира')
         +block-rectangle( '7', 'fish_in_packaging', 'Фасованная рыба', 'Собственного производства')
         +block-rectangle( '8', 'zamorozhennyye-ovoshchi-yagody', 'Замороженные овощи и&nbsp;фрукты', 'Со&nbsp;всего мира')
         +block-square( '9', 'molochnaya-produktsiya', 'Масло и&nbsp;молочная продукция', 'Со&nbsp;всего мира')
         +block-square( '10', 'bakaleya', 'Бакалея и&nbsp;специи', 'Со&nbsp;всего мира')
         +block-square( '11', 'maslo-rastitelnyoe', 'Масла растительные', 'Со&nbsp;всего мира')
         +block-square( '12', 'sousy', 'Майонезы и&nbsp;соусы', 'Со&nbsp;всего мира')

