.basket_payment__holder.section_holder( data-section='3' )
   .basket_order__main.section_main
      span Оплата
   .basket_order__second.section_second
      span Оплата
      button.button-yellow( data-next='4' ) Кнопка, типа всё ок
