.modal.order_info__modal( id='openModal_order_answer')
   .wrapper.wrapper-small
      .modal__dialog
         .modal__content.block.p20
            .add_place__title.text-18-title.text-blue Какой-то текст:
            .text-dark
               p.mb4 1. Процесс приёма-передачи товара опосредует совокупность действий сторон, складывающихся по факту доставки продавцом товара по адресу, указанному покупателем, и направленных на переход права собственности на продукцию от продавца к покупателю.
               p.mb4 2. По факту доставки продавцом товара по адресу, указанному покупателем, и вручения его последнему, покупатель в течение 15 минут вправе осуществлять проверку продукции на предмет её соответствия ранее заказанным позициям, соблюдения сроков годности товара (в отношении товара для которого это применимо), целостности упаковки и т.п.
               p.mb4 3. При осуществлении проверки покупатель не должен нарушать целостность упаковки товара. Под нарушением целостности упаковки товара понимаются такие действия покупателя, по факту совершения которых внешний вид товара, прошедшего проверку у покупателя, будет отличаться от первоначального внешнего вида продукции и подобное несоответствие будет препятствовать последующей реализации данного товара.
               p.mb4 Аналогичные правила подлежат применению и в том случае, если товар продаётся в упакованном виде, состоящем из нескольких единиц подобной продукции (например, йогурты, напиток Actimel, яйцо куриное, и т.п.). Применительно к указанным товарам покупатель не должен вскрывать, разламывать, иным образом нарушать целостность таких упаковок и отбирать определённое количество единиц продукции, а может приобрести лишь целиком всю упаковку такого товара.
               p.mb4 Если при проверке товара покупатель нарушает целостность его упаковки, то тем самым он выражает своё волеизъявление на приобретение данного товара у продавца, вследствие чего подобные действия покупателя порождают его обязанность по оплате такого товара.
               p.mb4 4. По истечении периода времени, указанного в пункте 2 настоящего Порядка, покупатель принимает решение о приобретении заказанного ранее товара (полностью или частично), либо об отказе в приобретении продукции (полностью или частично). О своём решении покупатель информирует представителя продавца. В случае принятия решения приобрести товар (полностью или частично) покупатель производит его оплату и проставляет свою подпись в сопроводительных документах. Отказ покупателя от оплаты товара, а равно от подписания сопроводительной документации, будет расцениваться продавцом как отказ покупателя от приобретения продукции.
               p.mb4 5. Если по истечении периода времени, указанного в пункте 2 настоящего Порядка, покупатель не принимает какого‑либо решения о дальнейшей судьбе заказанного ранее товара (не озвучивает его представителю продавца), то представитель продавца вправе забрать такой товар и покинуть место расположения покупателя. Подобные ситуации будут классифицироваться как отказ покупателя от приобретения продукции.

         .modal__close
            .icon__close-w
