section.basket_payment__holder.section_holder( data-section='3' )
   .basket_order__main.section_main
      .section_block
         .basket_group__title.text-blue.mb20 Информация о&nbsp;заказе
         .text-14.flex.mb4
            .text-dark Количество товаров в корзине:&nbsp;
            .text-blue
               #total-amount 3
         .text-14.flex.mb4
            .text-dark Общий вес заказа:&nbsp;
            .text-blue.flex
               #total-weight 0.21
               .elem &nbsp;кг
         .text-14.flex
            .text-dark Общий объем заказа:&nbsp;
            .text-dark.flex
               #total-volume 0
               .elem &nbsp;м
               sub 3

      .section_block
         .basket_group__title.text-blue.mb20 Способ оплаты
         form#payment_form__holder( name='payment_type')
            label( for='payment_type_radio-1' ).catalog_main__item
               .label-checkbox
                  input( id='payment_type_radio-1' name='payment_type' type='radio' checked='true' ).checkbox-hidden
                  span( class='radio' )
               .block
                  .text-16.text-16-big.text-blue( class='input-type-radio' ) Безналичная оплата
                  .text-14.text-dark Получить счет
            label( for='payment_type_radio-2' ).payment_type__item
               .label-checkbox
                  input( id='payment_type_radio-2' name='payment_type' type='radio' ).checkbox-hidden
                  span( class='radio' )
               .text-16.text-16-big.text-blue.mr4( class='input-type-radio' ) Рассмотреть отсрочку платежа
               .ico__question-circle
            label( for='payment_type_radio-3' ).payment_type__item
               .label-checkbox
                  input( id='payment_type_radio-3' name='payment_type' type='radio' ).checkbox-hidden
                  span( class='radio' )
               .text-16.text-16-big.text-blue( class='input-type-radio' ) Оплата наличными при&nbsp;получении

      .section_block
         .basket_group__title.text-blue.mb20 Дополнительная информация
         .flex.row_flex-10.mb20
            label#request_label.label-checkbox( for='request_checkbox' )
               input#request_checkbox.checkbox-hidden( type='checkbox' checked='true' )
               span.checkbox
            span.text-dark.text-small Получать уведомления об&nbsp;оформлении и&nbsp;статусе доставки заказа
         .check_type__holder
            .text-16-big.text-blue.mb20 Кассовый чек
            form#cash_check_form__holder( name='cash_check_type')
               label( for='cash_check_type_radio-1' ).payment_type__item
                  .label-checkbox
                     input( id='cash_check_type_radio-1' name='payment_type' type='radio' checked='true' ).checkbox-hidden
                     span( class='radio' )
                  .items-center.text-14( class='input-type-radio' )
                     .text-dark По смс&nbsp;
                     #cash_check_phone.text-blue +7 999 999-99-99
               label( for='cash_check_type_radio-2' ).payment_type__item
                  .label-checkbox
                     input( id='cash_check_type_radio-2' name='payment_type' type='radio' ).checkbox-hidden
                     span( class='radio' )
                  .items-center.text-14( class='input-type-radio' )
                     .text-dark Письмом на&nbsp;
                     #cash_check_mail.text-blue mail@mail.ru
         .check_info__holder
            .text-16-big.text-blue.mb10 Мы отказались от бумажных чеков в пользу электронных благодаря ФЗ-54
            .text-14.text-dark
               p.mb4 Электронный чек содержит всю необходимую информацию и в отличии от бумажного чека:
                  .items-center.mb4
                     .dot.mr6
                     span не теряется
                  .items-center.mr4
                     .dot.mr6
                     span не загрязняет окружающую среду
                  .items-center.mr4
                     .dot.mr6
                     span не требует вырубки деревьев
         .order_info__holder.text-dark
            p.mb6 Подтверждая заказ, вы принимаете порядок приёма-передачи товаров. Заказы доставляются нами в указанное вами место и время для того, чтобы вы могли с ними ознакомиться и принять решение о покупке. Вы не принимаете на себя никаких обязательств по покупке товаров и можете в любой момент отказаться от непонравившихся товаров. При этом, торговая сеть «Утконос» связана обязательствами по доставке товаров, но не принимает на себя обязательств по продаже товаров до момента вашего ознакомления с товарами и решения их купить.
            .order_info__read.text-small.text-big.pointer( data-modal='order_info' ) Подробнее




   .basket_order__second.section_second
      .basket_order__important
         .line_blue
         .order__important
            .ico__box
            .text-blue.text-14
               p.mb Минимальная сумма заказа с&nbsp;доставкой на&nbsp;дом&nbsp;&mdash; 3&nbsp;000&nbsp;&#8381;.
               p В&nbsp;продуктомат&nbsp;&mdash; 1&nbsp;000&nbsp;&#8381;.
      .section_block
         .basket_order_total__title.text-blue Ваш заказ
         .mb12.text-16-big.text-blue Промокод
         form.basket_order_total__promo
            label( for='request_name' ).label-input.order_total__input
               input#request_name( type='text' ).input.input-big
               span.sup Введите код
            button.button-yellow.button-long( type='button' ).order_total__button Применить
         .basket_order_total__sum
            .order_total__sum.text-blue
               .total_sum__text
                  span Товары (
                  #number 2
                  span ) &ndash;&nbsp;
                  #weight 0,35
                  span &nbsp;кг
               .total__sum
                  #sum 169.00
                  .elem &nbsp;&#8381;
            .order_total__sum
               .total_discount__text.text-blue Доставка
               .total__discount.text-blue
                  #obtaining 99.00
                  .elem &nbsp;&#8381;
            .order_total__discount
               .total_discount__text.text-blue Скидка
               .total__discount.text-green
                  #discount 5.00
                  .elem &nbsp;&#8381;
         .basket_order__total
            .order_total__text.text-blue.mb6 Итого
            .order__total.text-green
               #total 0.00
               .elem &nbsp;&#8381;
         button.button-yellow.button-long( data-next='4' ) Оформить заказ
