.catalog_main__pagination
   .catalog_pagination
      button.button.pagination_arrow( disabled='true' )
         .ico__arrow_prev
         span Предыдущая
      .pagination_numbers
         button.button.pagination_numb.pagination_numb-active
            span 1
         button.button.pagination_numb
            span 2
         button.button.pagination_numb
            span 3
         .pagination_middle
            span ...
         button.button.pagination_numb
            span 10
         button.button.pagination_numb
            span 11
      button.button.pagination_arrow( disabled='false' )
         span Следующая
         .ico__arrow_next
