
.breadcrumbs__container .wrapper {
   .flex();
   .justify-start();
   .items-end();
   height: 45px;
   margin-bottom: 30px !important;
}
.breadcrumbs__link {
   position: relative;
   .montserrat-medium();
   font-size: 12px;
   line-height: 14px;
   color: @color-gray;
   margin-right: 24px;
   margin-left: 1px;
}
.breadcrumbs__link:after {
   content: '/';
   display: block;
   position: absolute;
   font-size: 14px;
   line-height: 17px;
   width: 5px;
   top: -1px;
   bottom: -2px;
   right: -10px;
   transform: translateX(100%);
}
.breadcrumbs__active {
   .montserrat-medium();
   font-size: 12px;
   line-height: 14px;
   color: @color-blue;
}
