#container_catalog .header__main.wrapper,
.breadcrumbs__container .wrapper,
#container_catalog .header__aside .wrapper {
   .from( 1450px, {
      .wrapper-big();
   });
   .wrapper();
}
#container_catalog #catalog_trigger {
   .from( 1450px, {
      width: 311px;
      margin-right: auto;
   });
}


.catalog_main__container {

}
.wrapper-big.catalog_main__wrapper {
   .wrapper-big();
   .gr();
   grid-template-columns: 252px auto;
   grid-template-rows: auto;
   grid-column-gap: 50px;
   .to(1440px, {
      .wrapper();
      .gr();
      grid-template-columns: 256px auto;
      grid-column-gap: 32px;
   });
   .to(768px, {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto;
      grid-column-gap: 0;
      grid-row-gap: 16px;
   });
}
.catalog_main__section {
   grid-column: ~"2 / 3";
   grid-row: ~"1 / 2";
   
   background-color: grey;
                                 height: 500px;
   
   .to(768px, {
      grid-column: ~"1 / 2";
      grid-row: ~"2 / 3";
   });
}
.catalog_main__filter {
   grid-column: ~"1 / 2";
   grid-row: ~"1 / 2";
   
   background-color: #99cd91;
                                 height: 500px;
   .to(768px, {
      height: 50px;
      grid-column: ~"1 / 2";
      grid-row: ~"1 / 2";
   });
}
