.one_image__wrapper
   .one_image__main
      img( src='./assets/images/large/2.webp' data-info='это картинка хорошего качества, номер один')
      img( src='./assets/images/large/product/okhlazhdennaya_ryba.webp' data-info='это картинка хорошего качества, номер два')
      img( src='./assets/images/large/product/sveshemor.webp' data-info='это картинка хорошего качества, номер три')
      img( src='./assets/images/large/2.webp')
      img( src='./assets/images/large/2.webp')
      img( src='./assets/images/large/2.webp')
   .one_item__small
      img( src='./assets/images/small/2.jpg' data-info='это картинка низкого качества, номер один')
      img( src='./assets/images/small/product/okhlazhdennaya_ryba.webp' data-info='это картинка хорошего качества, номер два')
      img( src='./assets/images/small/product/sveshemor.webp' data-info='это картинка хорошего качества, номер три')
      img( src='./assets/images/small/2.jpg')
      img( src='./assets/images/small/2.jpg')
      img( src='./assets/images/small/2.jpg')
