mixin condition( icon, title, text )
   .delivery_conditions__block
      .delivery_conditions__icon( class='ico__#{icon}' )
      .delivery_conditions__content
         .text-18-title.mb10 !{title}
         .delivery_conditions__text.text-14.text-dark !{text}
