include ../__section-caption
section.delivery__camera
   .wrapper
      .section__caption
         +section-caption( 'Онлайн&ndash;камера', 'Онлайн&ndash;камера с&nbsp;эстакады погрузки автомобилей')
      .delivery_camera__holder
         .delivery_camera__text.text-14.text-blue Следите за процессом погрузки через нашу онлайн-камеру с&nbsp;эстакады погрузки автомобилей
         .delivery_camera__video.relative
            .relation
            .relation_content.delivery_camera-1
               .delivery_camera.absolute-img( data-large='./assets/images/middle/delivery/camera.jpg' data-middle='./assets/images/middle/delivery/camera.jpg' data-small='./assets/images/small/delivery/camera.jpg' )
