include ../__section-caption
include __conditions
include __conditions-big
section.delivery_conditions__container
   .wrapper
      .section__caption
         +section-caption( 'Доставка', 'Условия доставки, стоимости и&nbsp;возврата товара')
      .delivery_conditions__blocks
         +condition( 'money', 'Минимальная сумма заказа', '<p class="mb">Минимальная сумма заказа для юридических лиц и индивидуальных предпринимателей: 12 000 ₽</p><p>Не работаем с физическими лицами.</p>')
         +condition-big( 'day', 'Срок доставки', 'Доставка осуществляется ежедневно кроме выходных дней. В периоды длительных праздников, доставка осуществляется по заранее согласованному графику.', 'Для Москвы и Московской области, если заказ сделан и подтверждён до 16–30 текущего дня, то доставка будет осуществлена на следующий рабочий день. Возможна доставка в день заказа по согласованию с менеджером.', 'Для отдельных городов Московской области и других областей сроки доставки согласовываются с менеджером.', 'Отслеживание заказов в режиме реального времени через онлайн-мониторинг. Автомобили имеют gps трекеры.', 'Несколько раз в неделю мы делаем доставку в удалённые от Москвы города, такие как Рязань, Тула, и тп. На мониторе доставки об этом появляется информация за один день. Если вы находитесь в таких городах, то можно ориентироваться по монитору доставки и делать заказ за 1 день.', 'Доставка в другие регионы осуществляется транспортной компанией паллетоместами. Другие варианты можно согласовать с менеджером.')
         +condition( 'car', 'Разгрузка товара', '<p>Наш водитель-экспедитор подает товар на борт автомобиля.</p><p>Другие варианты можно обсудить с Вашим менеджером.</p>')
         +condition( 'coins', 'Стоимость доставки', '<p>На сайте указаны базовые мелкооптовые цены с учётом доставки по Москве и области, т.е. доставка бесплатная.</p><p>Другие типы цен, с учетом суммы заказа, отсрочки платежа, и условия доставки доступны после регистрации на сайте.</p>')
         +condition( 'box', 'Возврат товара', '<p>Целые упаковки товара с неповрежденной упаковкой, для которых соблюдался температурный режим, принимаются без объяснения причин после согласования логистики с Вашим менеджером.</p>')
