#filters_mobile_panel.filters_mobile__container
   .filters_mobile__header
      .filters_mobile__caption Фильтры
      .icon__close.fil
   .filters_mobile__content
      .scrollbar-inner
         .filters_mobile__holder
   .filters_mobile__footer
      button#catalog_filters_reset( type='reset' name='catalog_main__filters' ).button.button-gray
         span Сбросить
      button#catalog_filters_submit( type='submit' disabled='false' ).button.button-yellow
         span Применить
