include ../../jade/content/__section-caption
section.cameras__container.contacts_camera
   .wrapper
      .section__caption
         +section-caption( 'Онлайн-камеры', 'Наши онлайн&ndash;камеры')
      .cameras__wrapper
         .cameras__text
            p.section_part_text.text-14.text-blue Погрузитесь в&nbsp;мир нашего производства и&nbsp;складских операций через наши онлайн-камеры.
            p.section_part_text.text-14.text-blue Следите за&nbsp;каждым этапом производства и&nbsp;убедитесь в&nbsp;высоком стандарте качества наших товаров.
         .watch-more
            .watch-inner
               span Смотреть список видео
         .cameras__more.more.hide
         .contact_cameras__row
            article.camera__block.camera__block-1
               .relative
                  .relation
                  .relation_content
                     .cameras__video.cameras__video-1
               .camera__name.text-18-title Центральный офис
            article.camera__block.camera__block-4
               .relative
                  .relation
                  .relation_content
                     .cameras__video.cameras__video-4
               .camera__name.text-18-title Склад отгрузки <br>(г. Санкт-Петербург)
            article.camera__block.camera__block-3
               .relative
                  .relation
                  .relation_content
                     .cameras__video.cameras__video-3
               .camera__name.text-18-title Склад отгрузки <br>(г. Москва)
            article.camera__block.camera__block-2
               .relative
                  .relation
                  .relation_content
                     .cameras__video.cameras__video-2
               .camera__name.text-18-title Производство
