include __info
section.wrapper
   .contacts_map__container
      .contacts_map__info
         article.contacts_map__block.show( data-large='./assets/images/middle/map/1.webp' data-small='./assets/images/middle/map/1.webp' data-link='https://yandex.ru/maps/-/CDB1aQos' class='contacts_map__block-1' )
            .contacts_map__name.text-blue Центральный офис
            .contacts_map__address.text-dark г.&nbsp;Москва, Открытое шоссе, 13, стр.&nbsp;1
            a( href='tel:+74956887228').contacts_map__tel.text-dark +7&nbsp;(495)&nbsp;688-72-28
         +info( 'Склад отгрузки', 'г.&nbsp;Москва, ул.&nbsp;2-я Кабельная, 2с5', '+7&nbsp;(495)&nbsp;688-72-28', '+74956887228', '2', 'maps/-/CDB14-Yx')
         +info( 'Склад отгрузки', 'Ленинградская область, Ломоносовский район, Виллозское городское поселение, Южная часть производственной зоны Горелово, 1-й&nbsp;квартал, 1', '+7&nbsp;(495)&nbsp;688-72-28', '+74956887228', '3', 'maps/-/CDB1a4IA')
         +info( 'Производство', 'Московская область, Балашиха, деревня Черное, Чернореченская улица, д.&nbsp;76', '+7&nbsp;(495)&nbsp;688-72-28', '+74956887228', '4', 'map-widget/v1/?z=12&ol=biz&oid=14899337181')
      .contacts_map__map_holder
         a( href='https://yandex.ru/maps/-/CDB1aQos' target='_blank' ).contacts_map___link
            img( src='./assets/images/middle/map/1.webp' ).contacts_map__img
