include ../../jade/content/__section-caption
include __requisites
section.advantages__container
   .wrapper
      .section__caption
         +section-caption( 'Реквизиты', 'Наши реквизиты')
      .advantages__list
         +requisites( '1', 'Юридическое название', 'ООО &laquo;ПТК ЭКОР&raquo;' )
         +requisites( '2', 'ИНН', '7718741865' )
         +requisites( '3', 'КПП', '772201001' )
         +requisites( '4', 'Банк', 'Филиал &laquo;Центральный&raquo; банка ВТБ (ПАО)' )
         +requisites( '5', 'БИК', '044525411' )
         +requisites( '6', 'р/с', '40702810000000134655' )
         +requisites( '7', 'к/с', '30101810145250000411' )

