mixin info( text, change )
   .my_account__article
      .my_account__article_text.text-dark !{text}
      .my_account__article_change.text-blue.flex
         .my_account_info !{change}
         | &nbsp;&#8381;

