include __info
section.my_account__info
   +info( 'Кэшбэк за весь период', '1322')
   +info( 'Ваш баланс', '435')
   .my_account__article
      .my_account__article_text.text-dark Ваш кэшбэк с&nbsp;заказа
      .my_account__article_change.text-blue.flex
         .my_account_info 10
         | %
