section#openModal_reset.login__container
   .items-center.mb30
      .login__title.text-blue Сбросить пароль
      .icon__login_close.mlauto

   #reset_password
      .margin.text-14.text-blue Установите новый пароль
      form#reset_form.reset__form.form_pass
         label( for='reset_pass' ).label-input.password.mb10
            input#reset_pass( type='password' ).input.input-big
            span.sup Пароль
            .ico__eye.no
         label( for='reset_repass' ).label-input.password.mb20
            input#reset_repass( type='password' ).input.input-big
            span.sup Подтвердите пароль
            .ico__eye.no
         button#reset_password_button.button-yellow.button-long Сохранить новый пароль

   #reset_done
      .margin.text-14.text-blue Новый пароль сохранен
      button#reset_gomail_button.button-yellow.button-long Войти

