section#openModal_welcome.login__container
   .items-center.mb30
      .icon__login_close.mlauto

   .login__welcome
      .welcome
      .login_welcome__title.text-blue.mb10 Добро пожаловать
      .text-14.margin
         .inline.text-dark Запомните ваш логин&nbsp;
         #login.inline.text-blue login
      .text-14.text-dark На&nbsp;адрес
         #mail.inline.text-blue mail@mail.ru
         | &nbsp;было отправлено письмо с кодом подтверждения регистрации
      button#login_finish.button-yellow Начать покупки
