doctype
html

   include assets/jade/static/__head
   +title( 'О компании | Экор' )


   body
      #container_about
         include assets/jade/header/header


         include assets/jade/footer/footer
      include assets/jade/static/script
