doctype
html( lang='ru' )

   include assets/jade/static/__head
   +title( 'Каталог продукции | Экор' )




   body
      #container_catalog.container

         include assets/jade/header/header

         include assets/jade/content/catalog/breadcrumbs/breadcrumbs
         include assets/jade/content/catalog/catalog_main


         include assets/jade/catalog/catalog

      include assets/jade/content/catalog/mobile-filters/mobile_filters
      include assets/jade/footer/footer
      include assets/jade/modal/modal-callme

      include assets/jade/static/script
