doctype
html( lang='ru' )

   include assets/jade/static/__head
   +title( 'Контакты | Экор' )


   body
      #container_contacts
         include assets/jade/header/header


         include assets/jade/footer/footer
      include assets/jade/static/script
