doctype
html

   include assets/jade/static/__head
   +title( 'Экор' )


   body
      #container_main
         include assets/jade/header/header
         include assets/jade/content/carousel/carousel-index

         include assets/jade/content/request/request
         include assets/jade/footer/footer
      include assets/jade/static/script




