doctype
html( lang='ru' )

   include assets/jade/static/__head
   +title( 'Экор' )


   body
      #container_main.container
         include assets/jade/header/header
         include assets/jade/content/carousel/carousel-index

         include assets/jade/content/index/cover/cover
         include assets/jade/content/index/variety_products/variety_products
         include assets/jade/content/index/offer/offer
         include assets/jade/content/index/busareas/busareas
         include assets/jade/content/index/delivery/delivery
         include assets/jade/content/index/choose/choose
         include assets/jade/content/index/advantages/advantages
         include assets/jade/content/index/reputation/reputation

         include assets/jade/content/request/request

         include assets/jade/catalog/catalog

         include assets/jade/footer/footer
      include assets/jade/static/script




