doctype
html( lang='ru' )

   include assets/jade/static/__head
   +title( 'Оплата | Экор' )


   body
      #container_payment
         include assets/jade/header/header


         include assets/jade/footer/footer
      include assets/jade/static/script
