include __offer-info
section.offer__container
   .wrapper
      h2.caption.text-white.text-center Получите индивидуальное коммерческое предложение для&nbsp;вашего бизнеса
   .wrapper.form
      form.offer__form
         .row
            .offer__info
               +offer-info( '1', 'Ваша ниша', 'Оптовик' )
               +offer-info( '2', 'Способ получения', 'Доставка по МСК или МО' )
               +offer-info( '3', 'Ваши объемы закупки', 'от 10 000 ₽ до 25 000 ₽ ' )

            .offer__contact
               h3.title.text-blue.mb10 Контактные данные
               .request__form#offer_form
                  label( for='offer_name' ).label-input.mb10
                     input#offer_name( type='text' ).input.input-big
                     span.sup Имя
                  label( for='offer_numb' ).label-input.mb10
                     input#offer_numb( type='tel' ).input.input-big
                     span.sup Номер телефона
                  label( for='offer_mail' ).label-input.mb16
                     input#offer_mail( type='email' ).input.input-big
                     span.sup Email
                  .flex.row_flex-10
                     label#offer_label.label-checkbox( for='offer_checkbox' )
                        input#offer_checkbox.checkbox-hidden( type='checkbox' )
                        span.checkbox
                     span.text-small Подтверждаю своё согласие на обработку и хранение моих персональных данных в соответствии с пользовательским соглашением
                  button#offer_btn.button-yellow.button-long( type='button' )
                     span Получить

