include ../../catalog/__catalog-article
include ../../catalog/__catalog_section-fish
include ../../catalog/__catalog_section-food
include ../../content/index/subscribe/__subscribe_social.jade

section#production.catalog_main__container
   .wrapper-big
      .catalog_main__wrapper
         .catalog_main__content
            h3.text-blue.mb20.catalog_main__caption Филе рыбы, стейки, фарш
            .catalog_main__labels.mb20
               .catalog_main__tags
                  .cm__tag
                     span.text-blue Филе кеты
                     .ico__del
               button.button.catalog__fbutton.text-blue#show_filters
                  .icon__filter
                  span Фильтры
            .catalog_main__section
               include ../catalog/product/product
               include ../catalog/product/product
               include ../catalog/product/product
               include ../catalog/product/product
               include ../catalog/product/product
               include ../catalog/product/product
               include ../catalog/product/product
               include ../catalog/product/product
               include ../catalog/product/product
               include ../catalog/product/product
               .subscribe__wrapper.subscribe__wrapper_catalog
                  h2.subscribe__caption Подписывайтесь на&nbsp;чат-бот оптовых цен
                  h3.subscribe__title Узнайте наши цены за&nbsp;пару секунд через наш чат-бот без писем и&nbsp;звонков менеджеру
                  .subscribe__holder
                     .subscribe__socials
                        label( for='number_whatsapp').subscribe__social_holder.subscribe__social-whatsapp
                           a( href='' title='Перейти в whatsapp компании' aria-label='Ссылка на вотсап компании' ).icon__whatsapp
                           input( type='tel' id='number_whatsapp' placeholder='+7(_ _ _) _ _-_ _-_ _').subscribe__social_input.input-thin.input-big
                           span.text-white WhatsApp
                        +sub( 'telegram', 'Telegram' )
                        +sub( 'vkontakte', 'ВКонтакте' )

                     .subscribe__check
                        .ico__checkbox.mr10
                        span.text-small.text-gray Нажимая на&nbsp;кнопку, вы соглашаетесь с&nbsp;политикой конфиденциальности ресурса

               include ../catalog/product/product
               include ../catalog/product/product
               include ../catalog/product/product
               include ../catalog/product/product
               include ../catalog/product/product
               include ../catalog/product/product
               include ../catalog/product/product
               include ../catalog/product/product
               include ../catalog/product/product
               include ../catalog/product/product

            include ../catalog/pagination/pagination
         .catalog_main__filter
            include filters/sections_block
            include filters/filters_block
