mixin breadcrumbs-lk( text )
   .wrapper
      section.breadcrumbs__container
         a( href='../' ).breadcrumbs__link.pointer Главная
         #open_menu.breadcrumbs__link Личный кабинет
         .breadcrumbs__active.default !{text}

