/*
@media (-webkit-min-device-pixel-ratio: 1), (min-resolution: 96dpi) {
  .example {
    background-image: url(img.png);
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .example {
    background-image: url(img@2x.png);
  }
}
*/


.r1(@content) {  // Уменьшенная версия
    @media (-webkit-min-device-pixel-ratio: 1), (min-resolution: 96dpi) {
         @content();
    }
}
.r2(@content) { // Качество выше
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
         @content();
    }
}

.none1190() {
    .to( 1190px, {
        display: none;
    });
}
.none890() {
    .lg-block({
        display: none;
    });
}



.section-margin() {
      margin-top: 80px;
      margin-bottom: 80px;
   .lg-block({
      margin-top: 40px;
      margin-bottom: 40px;
   });
   .sm-block({
      margin-top: 40px;
      margin-bottom: 40px;
   });
}
.section-padding-403015() {
   padding: 40px;
   .lg-block({
      padding: 30px;
   });
   .sm-block({
      padding: 15px;
   });
}
.block-white() {
   .column();
   .justify-between();
   padding: 20px;
   box-sizing: border-box;
   border-radius: 20px;
   background-color: @color-white;
   .sm-block({
      padding: 16px;
   });
   .xs-block({
      padding: 16px;
   });
}
