
//@color-black: #70798E;
@color-back-white: #ffffff;
@color-back-main: #EBEDF0;

@color-gray-search: #969ba8;

@color-blue: #203686;
@color-blue-light: #65ABE4;
@color-blue-gray: #F4F7FB;
@color-gray: #70798E;
@color-gray-light: #DDE1E6;
@color-green: #6FBD15;
@color-green-dark: #6BA252;
@color-red: #F10B34;
@color-yellow-dark: #efbe05;
@color-yellow: #FFCB05;
@color-yellow-2: #FFED32;
@color-yellow-light: #FFF681;
@color-orange: #EFB526;
@color-white: #FFFFFF;


@opacity-blue-16: rgba(32, 54, 134, 0.16);
@opacity-blue-20: rgba(32, 54, 134, 0.2);
@opacity-blue-30: rgba(32, 54, 134, 0.3);
@opacity-blue-50: rgba(32, 54, 134, 0.5);
@opacity-blue-70: rgba(32, 54, 134, 0.7);
@opacity-blue-90: rgba(32, 54, 134, 0.9);
