.orders_info__admin
   .orders_info__sum.flex
      .text-14.text-blue Сумма всех заказов:&nbsp;
      .orders_info__change.text-blue.flex 50 000
         .elem &nbsp;&#8381;
   .orders_info__show
      .text-14.text-dark 20 заказов
   .orders_info__select
      select.select2#orders_select
         option( selected='true') Все заказы
         option Не все заказы
         option Какие-то заказы
