include __navigation
.wrapper
   .personal_account__container
      .personal_account__navigation
         +nav( 'my_account', 'Мой профиль', '' )
         +nav( 'order_history', 'История заказов', '' )
         +nav( 'delivery_addresses', 'Мой адрес доставки', 'personal_account__current' )
         +nav( 'payment_history', 'История оплат', '' )
         +nav( 'settings', 'Настройки', '' )

      .personal_account__content
         h1.title.text-blue Адреса доставки
         .delivery_addresses__holder
            .delivery_addresses__title.text-blue Адрес 1
            .address_obtaining__items.delivery_addresses
               .address_personal__address( data-address-personal='1' )
                  .ico__del
                  .obtaining_address__text
                     .text-14.text-blue Московкая область, Реутов, Юбилейный проспект, 72, кв. 328, этаж 22, подъезд 3, код домофона 328
                  .ico__edit.pointer( data-modal='edit_address')

         .delivery_addresses__holder
            .delivery_addresses__title.text-blue Адрес 1
            .address_obtaining__items.delivery_addresses
               .address_personal__address( data-address-personal='1' )
                  .ico__del
                  .obtaining_address__text
                     .text-14.text-blue Московкая область, Реутов, Юбилейный проспект, 72, кв. 328, этаж 22, подъезд 3, код домофона 328
                  .ico__edit.pointer( data-modal='edit_address')


         #lk_add_address.address_obtaining__add.mt16.pointer.openModal_add_address( data-modal='add_address').delivery_addresses
            .icon__address_add.mr10( data-modal='add_address')
            .text-14.text-blue( data-modal='add_address') Добавить адрес доставки
