include __navigation
.wrapper
   .personal_account__container
      .personal_account__navigation
         +nav( 'my_account', 'Мой профиль', '' )
         +nav( 'order_history', 'История заказов', '' )
         +nav( 'delivery_addresses', 'Мой адрес доставки', '' )
         +nav( 'payment_history', 'История оплат', 'personal_account__current' )
         +nav( 'settings', 'Настройки', '' )

      .personal_account__content
         h1.title.text-blue История оплат
         include payment_history/top
         .orders_history
            include payment_history/table
         button.button-orders-more
            span Показать еще

         include ../../../jade/content/catalog/pagination/pagination
