doctype
html( lang='ru' )

   include ../assets/jade/static/__head-lk
   +title( 'Заказ 83094018 | Экор' )




   body
      #container_account.container

         include ../assets/jade/lk/header
         include ../assets/jade/lk/breadcrumbs/breadcrumbs-order

         include ../assets/jade/lk/personal_account/one_order/one


      include ../assets/jade/lk/footer

      include ../assets/jade/modal/modal-callme

      include ../assets/jade/lk/script

