doctype
html( lang='ru' )

   include ../assets/jade/static/__head-lk
   +title( 'История оплат | Экор' )




   body
      #container_account.container

         include ../assets/jade/lk/header
         include ../assets/jade/lk/breadcrumbs/__breadcrumbs-lk
         +breadcrumbs-lk( 'История оплат')

         include ../assets/jade/lk/personal_account/payment_history

      include ../assets/jade/lk/footer
      include ../assets/jade/lk/personal_account/personal_menu/__link
      #personal_menu_mobile.personal_menu__mobile
         .personal_menu__header
            .personal_menu__title.text-16-big.text-blue Личный кабинет
            .personal_menu__close
               .ico__close
         .personal_menu__links
            +link( 'Мой профиль', 'my_account', '' )
            +link( 'История заказов', 'order_history', '' )
            +link( 'Мой адрес доставки', 'delivery_addresses', '' )
            +link( 'История оплат', 'payment_history', 'personal_link_current' )
            +link( 'Настройки', 'settings', '' )
         .personal__out Выйти

      include ../assets/jade/catalog/catalog
      include ../assets/jade/modal/modal-callme

      include ../assets/jade/lk/script
      script( src='../assets/js/lk.js' )

