doctype
html( lang='ru' )

   include ../assets/jade/static/__head-lk
   +title( 'История оплат | Экор' )




   body
      #container_account.container

         include ../assets/jade/lk/header
         include ../assets/jade/lk/breadcrumbs/__breadcrumbs-lk
         +breadcrumbs-lk( 'История оплат')

         include ../assets/jade/lk/personal_account/payment_history


      include ../assets/jade/lk/footer

      include ../assets/jade/modal/modal-callme

      include ../assets/jade/lk/script

