footer.footer__holder
   .wrapper
      .footer__information_holder
         .footer__logo.logo__holder
            .logo__image
            .logo__text
         .footer__information
            .footer__information_section
               span Адрес: г.&nbsp;Москва, Открытое шоссе, 13, стр.&nbsp;1
            .footer__information_section
               span E-mail: info@ekorfish.ru
            .footer__contacts
               a( href='tel:84956378228' aria-label='Позвонить на номер компании' ).contact__number +7&nbsp;(495)&nbsp;637-82-28
               .footer__socials
                  .social__holder.row_flex-10
                     .social__icon
                        a.icon__telegram( href='' target='_blank' title='Перейти в группу Telegram компании' aria-label='Ссылка на телеграм компании')
                     .social__icon.social__icon-whatsapp
                        .icon__whatsapp( aria-label='Ввести свой номер для подключения whataspp компании' )
                        .input_number-holder
                           input.input_number( type='tel' placeholder='+7(_ _ _) _ _-_ _-_ _')
      .footer__links_holder.row_flex-32
         .footer__links_section.footer_links-1
            .footer__links_caption Покупателям
            .footer__links
               a( href='../catalog.html' ).footer__link Прайс
               a( href='../catalog.html' ).footer__link Доставка
               a( href='../catalog.html' ).footer__link Чат-бот
               a( href='../catalog.html' ).footer__link Производство
               a( href='../catalog.html' ).footer__link Контакты
               a( href='../catalog.html' ).footer__link Поставщикам
         .footer__links_section.footer_links-2
            .footer__links_caption Каталог
            .footer__links.row_flex-32
               a( href='../catalog.html' ).footer__link Свежемороженая <br>рыба
               a( href='../catalog.html' ).footer__link Филе рыбы, стейки, <br>фарш
               a( href='../catalog.html' ).footer__link Морепродукты
               a( href='../catalog.html' ).footer__link Фасованная рыба Экор
               a( href='../catalog.html' ).footer__link Полуфабрикаты
               a( href='../catalog.html' ).footer__link Готовая продукция Экор
               a( href='../catalog.html' ).footer__link Мясо, птица
               a( href='../catalog.html' ).footer__link Замороженные <br>продукты
               a( href='../catalog.html' ).footer__link Консервы
               a( href='../catalog.html' ).footer__link Продукты питания оптом
               a( href='../catalog.html' ).footer__link Карта сайта

