include __choose-manager
section.choose__container
   .wrapper
      .choose__wrapper
         .choose__block_text
            h2.caption.text-blue Выберите себе менеджера
            p.text-14.text-blue В&nbsp;нашем отделе продаж трудится более 20&nbsp;высококвалифицированных сотрудников! Найдите своего персонального менеджера, который поможет вам сделать правильный выбор.
         .choose__block_photo
            .choose__manager.first-of-type
               .choose__manager_image
                  img( src='assets/images/middle/managers/11.png' )
               .choose__manager_name Инна
            +manager( '2', 'Елена')
            +manager( '3', 'Ирина')
            +manager( '4', 'Александр')
            +manager( '5', 'Валерий')
            +manager( '6', 'Александр')
            +manager( '7', 'Ольга')
            +manager( '8', 'Мария')
         button.button-yellow Заказать звонок
