mixin reputation-block( number, title, text)
   .reputation__block(class='reputation__block-#{number}')
      .reputation__number.text-small 0#{number}
      .reputation__title !{title}
      .reputation__text.text-14 !{text}
