include ../../__section-caption
include __reputation-block
section.reputation__container
   .wrapper
      .section__caption
         +section-caption( 'Самое главное', 'Наш опыт и&nbsp;репутаци&nbsp;&mdash; это самое главное')
      .reputation__tile
         +reputation-block( '1', 'Личный кабинет для&nbsp;заказов', 'Удобный личный кабинет для&nbsp;управления и&nbsp;размещения ваших заказов')
         +reputation-block( '2', '25&nbsp;лет работы', 'Производство с&nbsp;1998&nbsp;г.')
         +reputation-block( '3', '>&nbsp;2000&nbsp;м2 ', 'Морозильных складов')
         +reputation-block( '4', 'Сроки годности товаров на&nbsp;сайте', 'Полная прозрачность с&nbsp;информацией о&nbsp;сроках годности каждого товара')
         +reputation-block( '5', 'Весь товар в&nbsp;прайсе есть в&nbsp;наличии', 'Гарантируем наличие всех товаров из&nbsp;прайс&ndash;листа')
         .watch-more
            span Показать еще
         .reputation__more.more.hide
         +reputation-block( '6', 'Реальные фото', 'На&nbsp;сайте представлены реальные фотографии каждой партии товаров')
         +reputation-block( '7', '40 автомобилей', 'На&nbsp;доставке ежедневно')
         +reputation-block( '8', 'Гарантируем принятие к&nbsp;зачету нашего НДС ', 'Демонстрируем прозрачность и&nbsp;честность в&nbsp;деловых отношениях')

