img( fetchpriority="high" src="/assets/images/large/carousel/index-1.png")
img( fetchpriority="high" src="/assets/images/large/carousel/index-2.png")
img( fetchpriority="high" src="/assets/images/large/carousel/index-3.png")
style.
