.items-center.row_flex-10
   label.label-checkbox( for='basket_all_checkbox' )
      input#basket_all_checkbox.checkbox-hidden( type='checkbox' )
      span.checkbox.pointer
   span.text-small.text-dark Выбрать все
button.basket_del_all
   .text-small.basket_order__del.basket_order__del_in Удалить выбранные
   .icon__bin
button#basket_show_in.text-14.text-blue.basket_order__stock_btn.chosen В наличии (23)
button#basket_show_out.text-14.text-blue.basket_order__stock_btn Нет в наличии (23)
