.basket_order__holder.section_holder.show( data-section='1' )
   .basket_order__main.section_main
      span Сама корзина
   .basket_order__second.section_second
      span Сама корзина
      button.button-yellow( data-next='2' ) Кнопка, типа всё ок

