include ../../__section-caption
section.cameras__container
   .wrapper
      .section__caption
         +section-caption( 'Онлайн-камеры', 'Наши онлайн&ndash;камеры')
      .cameras__wrapper
         p.section_part_text.text-14.text-blue Погрузитесь в&nbsp;мир нашего производства и&nbsp;складских операций через наши онлайн-камеры.
         p.section_part_text.text-14.text-blue Следите за&nbsp;каждым этапом производства и&nbsp;убедитесь в&nbsp;высоком стандарте качества наших товаров.
         .cameras__row
            .camera__block
               .relative
                  .relation
                  .relation_content
                     .cameras__video.cameras__video-1
               .programs__name.text-18-title.mt10 Офис
            .camera__block
               .relative
                  .relation
                  .relation_content
                     .cameras__video.cameras__video-2
               .programs__name.text-18-title.mt10 Производство
            .camera__block
               .relative
                  .relation
                  .relation_content
                     .cameras__video.cameras__video-3
               .programs__name.text-18-title.mt10 Склады
