include ../../__section-caption
section.reviews__container
   .wrapper
      .section__caption
         +section-caption( 'Отзывы', 'Отзывы наших покупателей')
      .reviews__content
         p.section_part_text.text-14.text-blue Прочитайте реальные отзывы прямо на&nbsp;сайте или оставьте его на&nbsp;Яндекс.Картах
         .review__wrapper
            .review__name
            .review__source
            .review__block
               .review__points
               .review__stars
               .review__rating
               a.button-yellow
                  span Оставить отзыв
            .review__block
               .review__photo
               .review__name
               .review__date
               .review__grade
               .review__text Продукция, поставляемая компанией ЭКОР, всегда соответствует высоким стандартам качества. Свежесть, вкус и&nbsp;безопасность&nbsp;&mdash; основные критерии при&nbsp;выборе продуктов для&nbsp;нашего меню, и&nbsp;компания ЭКОР полностью соответствует этим требованиям…
               a.text-12-bold.text-blue( href='' target='_blank') Подбробнее


