include ../../__section-caption
section.reviews__container
   .wrapper
      .section__caption
         +section-caption( 'Отзывы', 'Отзывы наших покупателей')
      .reviews__content
         p.section_part_text.text-14.text-blue Прочитайте реальные отзывы прямо на&nbsp;сайте или оставьте его на&nbsp;Яндекс.Картах
         .review__wrapper
            .review__company.review__first.text-18-title Экор
            .review__source.review__first.text-18-title.text-dark Яндекс.Карты
            .review__block-1
               .review__points.text-blue 4,7
               .review__stars
               .review__rating.text-small.text-dark 77&nbsp;отзывов&nbsp;/&nbsp;169&nbsp;оценок
               a.review__button.bg-yellow-2.button-yellow
                  span Оставить отзыв
            .review__block-2
               .review__photo
               .review__name.text-blue.text-16-big Artem Chugarov
               .review__date.text-dark.text-14 17 июля
               .review__grade
               article.review__text.text-blue.text-14 Продукция, поставляемая компанией ЭКОР, всегда соответствует высоким стандартам качества. Свежесть, вкус и&nbsp;безопасность&nbsp;&mdash; основные критерии при&nbsp;выборе продуктов для&nbsp;нашего меню, и&nbsp;компания ЭКОР полностью соответствует этим требованиям…
               a.review__link.text-12-bold.text-blue( href='' target='_blank') Подбробнее


