mixin cover-badge( caption, text, badge )
   h2.title.cover__caption !{caption}
   p.cover__text !{text}
   .badge_yellow.mtauto
      span !{badge}
   .cover_img.absolute-img( data-large='./assets/images/large/cover/cover-2.webp' data-middle='./assets/images/large/cover/cover-2.webp' data-small='./assets/images/large/small/cover-2.webp' )
