mixin cover-image( caption, text, image, link )
   h2.title.cover__caption !{caption}
   p.cover__text !{text}
   a( href='#{link}' target='_blank' ).btn.mtauto
      img( src='./assets/images/svg/social/#{image}' )
