mixin cover( caption, text )
   h2.title.cover__caption !{caption}
   p.cover__text !{text}
   .cover_img.absolute-img( data-large='./assets/images/large/cover/cover-3.png' data-middle='./assets/images/large/cover/cover-3.png' data-small='./assets/images/large/cover/cover-3.png' )
