mixin cover-image( caption, text, image, link )
   h2.title.cover__caption !{caption}
   p.cover__text !{text}
   a( href='#{link}' target='_blank' ).btn.mtauto
      img( src='./assets/images/svg/social/#{image}' )
   .cover_img.absolute-img( data-large='./assets/images/large/cover/1.webp' data-middle='./assets/images/middle/cover/1.webp' data-small='./assets/images/large/1.webp' )
