include __cover-badge
include __cover-image
include __cover

section.cover__container
   .wrapper
      article.cover__holder.cover__holder-1
         .cover_holder-1
            +cover-image( 'Чат-бот цен на&nbsp;все наши продукты питания', 'Узнайте наши цены за пару секунд без писем и звонков менеджеру', 'btn-w.svg', '/')
      article.cover__holder.cover__holder-2
         .cover_holder-2
            +cover-badge( 'Лосось охлажденный', 'Акционная цена <b>1700&nbsp;₽&nbsp;/&nbsp;кг</b>', 'до&nbsp;31.12.2023&nbsp;г.')
      article.cover__holder.cover__holder-3
         .cover_holder-3
            +cover( 'Доставка в&nbsp;день заказа', 'Закажите до 11.00')
