include __item-index
main.wrapper
   .container.container_main
      .carousel__holder
         +item_index( '1', '> 1000 наименований продуктов питания оптом', 'для HoReCa, общепита,<br>производителей')
         +item_index( '2', 'Собственное производство по&nbsp;переработке рыбы и&nbsp;морепродуктов', 'Работайте с&nbsp;производителем<br>напрямую')
         +item_index( '3', 'Специализируемся на&nbsp;поставках рыбы и&nbsp;морепродуктов со&nbsp;всего мира', 'для&nbsp;HoReCa, магазины<br>&laquo;У&nbsp;дома&raquo;, торговые сети')


