mixin advantage( num, big, text)
   article.advantages__item(class='advantages__item-#{num}')
      .advantages__number.text-small.text-dark 0#{num}
      .advantages__title.text-18-title !{big}
      .advantages__text.text-14 !{text}
