include ../../__section-caption
include __advantages
section.advantages__container
   .wrapper
      .section__caption
         +section-caption( 'Преимущества', 'Специальные предложения для&nbsp;новых клиентов')
      .advantages__list
         +advantage( '1', 'Отсрочка платежа с&nbsp;первой поставки', 'Начните сотрудничество с&nbsp;уверенностью, получив возможность отложенного платежа' )
         +advantage( '2', 'Бесплатные образцы на&nbsp;проработку для&nbsp;общепита', 'Оцените качество наших продуктов, получив бесплатные образцы для&nbsp;тщательной проверки' )
         +advantage( '3', 'Доставка от&nbsp;50&nbsp;кг', 'Экономьте на&nbsp;доставке, начиная с&nbsp;минимальных объемов заказ' )
         +advantage( '4', 'Фиксация цен для&nbsp;участников тендеров', 'Гарантированные стабильные цены для&nbsp;участников тендеров' )
         +advantage( '5', 'Отдадим дешевле, если найдете цены ниже', 'Мы уверены в&nbsp;наших конкурентоспособных ценах. В&nbsp;случае нахождения более низких цен, предоставим еще более выгодное предложение.' )
         +advantage( '6', 'Тестовая поставка со&nbsp;100% возвратом', 'Попробуйте нашу продукцию без риска. В&nbsp;случае неудовлетворенности, мы вернем 100% стоимости тестовой поставки.' )

