.basket_thanks__holder.section_holder( data-section='4' )
   .thanks
   .basket_thanks__caption.text-blue
      span Спасибо
      span.f !
      span.s &nbsp;за заказ!
   p.basket_thanks__text.text-dark
      span Ваш платеж успешно обработан. Ожидайте скорую доставку и&nbsp;свяжитесь с&nbsp;нами, если у&nbsp;вас есть какие-либо вопросы.
      span.t  Спасибо за покупку!
   a.basket_thanks__button_holder( href='../catalog.html' )
      button.basket_thanks__button.button-yellow Вернуться к покупкам
