.about_index__container {
   .section-margin();
}
.about_index__content {
   .section-text-half();
}

.about_index__facts {
   grid-row: span 1;
   grid-column: ~"1 / 25";
   
   .gr();
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: 1fr;
   grid-column-gap: 20px;
   .middle-block({
      margin-top: 55px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-gap: 20px;
   });
   .sm-block({
      grid-column: span 1;
      grid-gap: 10px;
      margin-top: 15px;
   })
}
.about_index__block {
   .block-white();
}
.about_index__number {
      margin-bottom: 8px;
   .lg-block({
       margin-bottom: 4px;
   });
}

.about_index__span {
   padding-top: 40px;
}
