.delivery-index__container {
   .section-margin();
   
   .relation {
      padding-top: 48.1%;
   }
}
.delivery-index__wrapper {
   display: grid;
    grid-template-columns: repeat( 4, 1fr);
    grid-template-rows: repeat( 3, auto);
   grid-row-gap: 40px;
}

.delivery-index__text {
   grid-column: ~"2 / 5";
   grid-row: ~"1 / 2";
   
   .flex();
   p {
      line-height: 20px;
      margin-right: 10px;
   }
}
.delivery-index__facts {
   grid-column: ~"2 / 5";
   grid-row: ~"2 / 3";
   
   .flex();
   .justify-between();
   padding-top: 36px;
   
   p {
      position: relative;
      padding-right: 20px;
      box-sizing: border-box;
   }
   p:last-of-type {
      padding-right: 0;
      //margin-right: 20px;
   }
}
.delivery-index__image {
   grid-column: ~"2 / 5";
   grid-row: ~"3 / 4";
}

.delivery-index__facts p:after {
   .pseudo();
   z-index: 55;
   .dot-dot();
   
   width: 16px;
   height: 16px;
   top: -36px;
}
.delivery-index__facts p:before {
   .pseudo();
   z-index: 50;
   top: -29px;
   left: 4px;
   height: 0;
   border: 1px solid @opacity-blue-20;
   width: 100%;
}
.delivery-index__facts p:last-of-type:before {
   width: 82%;
}
.delivery-index__img {
   width: 100%;
   height: 100%;
   .delivery-index();
}

@media screen and (max-width: @break_middle) {
   
   .delivery-index__text {
      grid-column: ~"1 / 5";
      grid-row: ~"1 / 2";
      
      .flex();
      p {
         line-height: 20px;
         margin-right: 10px;
      }
   }
   .delivery-index__facts {
      grid-column: ~"1 / 5";
      grid-row: ~"2 / 3";
      
      .flex();
      .justify-between();
      padding-top: 36px;
      
      p {
         position: relative;
         padding-right: 20px;
      }
   }
   .delivery-index__image {
      grid-column: ~"1 / 5";
      grid-row: ~"3 / 4";
   }
}
@media screen and (max-width: @break_sm) {
   
   .delivery-index__wrapper {
      grid-row-gap: 20px;
   }
}
@media screen and (max-width: @break_xs) {
   .delivery-index__text {
      .column();
   }
   .delivery-index__text p {
      margin-right: 0;
   }
   .delivery-index__text p:first-of-type {
      margin-bottom: 10px;
   }
   
   .delivery-index__facts {
      .column();
      padding-top: 0;
      padding-left: 26px;
   }
   .delivery-index__facts p:not(:last-of-type) {
      padding-bottom: 16px;
   }
   
   .delivery-index__facts p:after {
      width: 16px;
      height: 16px;
      left: -26px;
      top: 0;
   }
   .delivery-index__facts p:before {
      .pseudo();
      z-index: 50;
      left: -18.5px;
      top: 4px;
      width: 0;
      border: 1px solid @opacity-blue-20;
      height: 100%;
   }
   .delivery-index__facts p:last-of-type:before {
      display: none;
   }
  
}
