include __labels
section.payment__container
   .wrapper
      .payment_labels__wrapper
         +label( '1', 'Отсрочка платежа с первой поставки' )
         +label( '2', 'Любая форма оплаты' )
         +label( '3', 'История платежей в личном кабинете' )

