include ../../__section-caption
include __contact
section.contacts_index__container
   .wrapper
      .section__caption
         +section-caption( 'Контакты', 'Контакты')
      .contacts_index__holder
         +contact( '1', 'Центральный офис', 'г.&nbsp;Москва, Открытое шоссе, 13, стр.&nbsp;1', '8&nbsp;(800)&nbsp;505-01-82, +7&nbsp;(495)&nbsp;637-82-28', 'Пн-Пт:&nbsp;9.00-17.00 • Сб-Вс:&nbsp;выходной ')
         +contact( '2', 'Склад отгрузки ', 'г.&nbsp;Москва, ул.&nbsp;2-я Кабельная, 2с5', '8&nbsp;(800)&nbsp;505-01-82, +7&nbsp;(495)&nbsp;637-82-28', 'Пн-Пт:&nbsp;9.00-17.00 • Сб-Вс:&nbsp;выходной')
         +contact( '3', 'Склад отгрузки ', 'Ленинградская область, Ломоносовский район, Виллозское городское поселение, Южная часть производственной зоны Горелово, 1-й&nbsp;квартал, 1', '8&nbsp;(800)&nbsp;505-01-82', 'Пн-Пт:&nbsp;9.00-17.00 • Сб-Вс:&nbsp;выходной')
