section.one_order_delivery__container
   .text-18.text-big.text-blue.mb16 Доставка
   .one_order_delivery
      .one_order_delivery__block
         .delivery__icon.ico__pin
         .delivery__info
            .text-14.text-dark.mb4 Адрес доставки
            .text-14.text-blue Московкая область, Реутов, Юбилейный проспект, 72, кв. 328, этаж 22, подъезд 3, код домофона 328
      .one_order_delivery__block
         .delivery__icon.ico__day
         .delivery__info
            .text-14.text-dark.mb4 Дата доставки
            .text-14.text-blue 14 февраля 2020
      .one_order_delivery__block
         .delivery__icon.ico__time
         .delivery__info
            .text-14.text-dark.mb4 Время доставки
            .text-14.text-blue 11:00 – 13:00


