section.one_order_details__container
   .text-18.text-big.text-blue.mb16 Детали доставки
   .one_order_details
      .one_order_details__block
         .details__icon.ico__person
         .details__info
            .text-14.text-dark.mb4 Доставка курьером
            .text-14.text-blue Алферов Максим
      .one_order_details__block
         .details__icon.ico__phone
         .details__info
            .text-14.text-dark.mb4 Телефон курьера
            .text-14.text-blue +7 495 775-15-08
      .one_order_details__block
         .details__icon.ico__car
         .details__info
            .text-14.text-dark.mb4 Машина
            .text-14.text-blue Газель Н777НН777


