.one_order__information.mb20
   .one_order_information__status.status-green
      .text-14-small Выполнен
   .one_order_information__text.information_text-1.text-14-small.text-blue Заказ &#8470;83094018
   .one_order_information__text.information_text-2.text-14-small.text-blue Дата: 23.03.2020
   .one_order_information__text.information_text-3.text-14-small.text-blue.flex
      span Сумма:&nbsp;
      .text-big 4 572.00&nbsp;&#8381;
