.one_order_composition__block
   .one_order_composition__image.relative
      .relation-square
      .relation_content
         img( src='../assets/images/1.png' )
   .one_order_composition__title.text-blue Барабулька черноморская свежемороженая 500 г
   .one_order_composition__info.text-14
      .product__article.text-dark
         span Артикул:&nbsp;
         .elem 3371176
      .product__piece.text-dark
         span 169,00 &nbsp;&#8381;&nbsp;
         .elem / шт (0,5 кг)
   .one_order_composition__amount.text-blue.flex
      span 1
      .elem &nbsp;шт
   .one_order_composition__buy
      .basket__price
         span 1130.54
         .elem &nbsp;&#8381;
