section.one_order_payment__container
   .text-18.text-big.text-blue.mb16 Оплата
   .one_order_payment
      .one_order_payment__block
         .payment__icon.ico__person
         .payment__info
            .text-14.text-dark.mb4 Способ оплаты
            .text-14.text-blue Оплата наличными или банковской картой при&nbsp;получении
      .one_order_payment__block
         .payment__icon.ico__phone
         .payment__info
            .text-14.text-dark.mb4 Статус оплаты
            .text-14.text-blue Оплачен

   button.button-yellow.button-long.mt20 Повторить заказ




