section.one_order_status__container
   .text-18.text-big.text-blue.mb16 Статус заказа
   .one_order_status__radio
      .one_order_status
         .radio_checked
         span.text-14.text-blue В обработке
      .one_order_status
         .radio_checked
         span.text-14.text-blue Собирается
      .one_order_status
         .radio_false
         span.text-14.text-dark Передан курьеру
      .one_order_status
         .radio_false
         span.text-14.text-dark Выполнен

   button.one_order_status__button.button-blue Обновить информацию о&nbsp;заказе

   .one_order_status__assessment
      .text-16-big.text-blue.mb10 Довольны&nbsp;ли вы вашим заказом?
      .one_order__assessment.flex
         .star.fill
         .star.fill
         .star.fill
         .star.fill
         .star
