.payment_info__admin
   .orders_info__sum.flex
      .text-14.text-blue Сумма всех оплат::&nbsp;
      .orders_info__change.text-blue.flex 50 000
         .elem &nbsp;&#8381;
   .orders_info__select.mlauto
      select.select2#orders_select
         option( selected='true') Все поступления
         option Не все поступления
         option Какие-то поступления
